.container-column{
    display: flex;
    text-align: center;
   background: #dfe3e6;
    margin:5px;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    width: 100%;
    border-radius: 5px;
   
}
.column-header{
    font-weight: bold;
    height: 40px;
    text-align: left;
}
.content-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.button-column{
    font-size: 16px;
    background: #dfe3e6;
    color: black;
   width: 100%;
   border: 0px;
   text-align: left;
   height: 30px;
}

.button-column:hover {
    background: #c8cccf;
  cursor: pointer;
  }

.boardColumn-footer{
   text-align: right;
}
